.achievements {
  @include fildset-reset;
  //background-color: $bg-lightgray;
  //width: 280px; //временно
  //margin: 0 auto;
  order: 2;
  outline: 1px solid blueviolet;
}

.achievements__title {
  width: 250px;

  &--app {
    margin-bottom: 38px;
  }
}

.achievements__item {
  display: flex;
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 42px;
  }
}

.achievements__checkbox[type="checkbox"] {
  display: none;
}

.achievements__label {
  position: relative;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 68px;

  @include f-size(18px, 30px);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    background-color: $bg-white;
    border: 1px solid $color-gray;
    cursor: pointer;
  }
}

.achievements__checkbox:checked + .achievements__label::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
  .app {
    order: 4;
  }
}
