.achievements {
  margin-bottom: 30px;
  order: 2;
}

.achievements__fieldset {
  @include fildset-reset;
}

.achievements__title {
  width: 250px;
  margin-bottom: 40px;
  padding-top: 36px;
}

.achievements__columns {
  display: flex;
  flex-direction: column;
}

.achievements__item {
  display: flex;
  margin-bottom: 45px;

  &:first-child {
    order: 1;
  }

  &:nth-child(2) {
    order: 3;
  }

  &:nth-child(3) {
    order: 5;
  }

  &:nth-child(4) {
    order: 2;
  }

  &:nth-child(5) {
    order: 4;
  }

  &:nth-child(6) {
    order: 6;
  }

  &:last-child {
    margin-bottom: 42px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-dark, 0 0 7px #2f7cc0;
  }
}

.achievements__checkbox[type="checkbox"] {
  display: none;
}

.achievements__label {
  position: relative;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 68px;

  @include f-size(18px, 30px);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    border: 1px solid $color-gray;
    cursor: pointer;
  }
}

.achievements__checkbox:hover + .achievements__label::before {
  border: 1px solid $color-dark;
}

.achievements__checkbox:focus + .achievements__label::before {
  border: 1px solid $color-dark;
}

.achievements__checkbox:active + .achievements__label::before {
  border: 1px solid $color-pink;
}

.achievements__checkbox:checked + .achievements__label::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 9px;
  width: 22px;
  height: 17px;
  background-image: url("/img/icon-yes2.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
  .achievements {
    margin-bottom: 50px;
    order: 4;
  }

  .achievements__fieldset {
    width: 100%;
    padding-left: 60px;
    padding-right: 58px;
    padding-bottom: 7px;
    border: 2px solid $bg-lightgray;
  }

  .achievements__title {
    width: 435px;
    margin-bottom: 45px;
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
  }

  .achievements__item {
    margin-bottom: 45px;
  }

  .achievements__label {
    padding-left: 58px;
  }
}

@media (min-width: $desktop-width) {
  .achievements {
    margin-bottom: 43px;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .achievements__fieldset {
    padding-left: 57px;
    padding-right: 45px;
    padding-bottom: 11px;
  }

  .achievements__title {
    margin-bottom: 45px;
  }

  .achievements__columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .achievements__item {
    width: 257px;
    margin-right: 56px;

    &:nth-child(3n-1) {
      width: 242px;
    }

    &:nth-child(3n) {
      width: 221px;
      margin-right: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 4;
    }

    &:nth-child(5) {
      order: 5;
    }
  }
}
