.bg-color {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-lightgray;
}

@media (min-width: $tablet-width) {
  .bg-color--transparent {
    background-color: transparent;
  }

  .bg-color--advantages {
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .bg-color--advantages {
    background-color: $bg-lightgray;
  }
}
