.bg {
  width: 100%;
  margin: 0 auto;
}

.bg__pic {
  min-height: 240px;
  margin-top: -70px;
  padding-top: 70px;
  background-color: $bg-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.bg__light-color {
  background-color: $bg-lightgray;
  //background-color: transparent; /*временно*/
}

@media (min-width: $tablet-width) {
  .bg__pic {
    min-height: 440px;
    margin-top: -110px;
    padding-top: 110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top;
  }

  .bg__light-color {
    &--form {
      background-color: transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .bg__pic {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
