.button,
a.button {
  display: block;
  width: 280px;
  padding: 16px 20px 15px 20px;

  @include opensansbold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $color-white;
  background-color: $bg-dark;
  border: 3px solid $color-white;
  border-radius: 30px;

  &--transparent {
    background-color: transparent;
  }

  &:hover,
  &:focus {
    color: $color-pink;
    text-shadow: none;
    background-color: $bg-white;
    outline: none;
    cursor: pointer;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    text-shadow: none;
    background-color: $bg-white;
    outline: none;
    cursor: pointer;
  }
}

.button--form,
a.button--form {
  width: 280px;
  margin: 0 auto;
  padding: 22px;
  background-color: $green;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $green-hover;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &:active {
    color: $color-lighwhite;
    background-color: $green-hover;
    outline: none;
    cursor: pointer;
  }
}

.button--data {
  width: 276px;
  margin: 0 auto;
  padding: 15px;

  @include f-size(18px, 30px);
  font-weight: bold;
}

.button--sent {
  width: 276px;
  margin: 0 auto;
  padding: 15px;

  @include f-size(18px, 30px);
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .button--form,
  a.button--form {
    width: 300px;
    margin: 0;
  }

  .button--data {
    width: 296px;
    margin: 0 auto;
  }

  .button--sent {
    width: 296px;
    margin: 0 auto;
  }
}


@media (min-width: $desktop-width) {
  .button,
  a.button {
    width: 300px;

    @include f-size(21px, 18px);
  }
}
