.container {
  margin: 0 auto; //центрирование
  width: 100%;
  min-width: 320px; //ограничивает минимальную ширину
  max-width: 960px; // ограничивает максимальную ширину
  padding-left: 20px;
  padding-right: 20px;
}

.container--download {
  position: relative;

  &::before { //картинка смартфон в руке
    content: "";
    position: absolute;
    right: 0;
    left: -50px;
    top: 108px;
    width: 258px;
    height: 286px;
    margin: 0 auto;
    background-image: url("/img/iphone-hand-mobile@1x.png");
    background-position: top left;
    background-size: 258px 286px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/iphone-hand-mobile@2x.png");
      background-size: 258px 286px;
      background-position: top left;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .container--download {
    &::before {
      position: absolute;
      top: 71px;
      right: 0;
      width: 473px;
      height: 545px;
      margin-right: 20px;
      background-image: url("/img/iphone-hand-tablet@1x.png");
      background-size: 473px 545px;
      background-position: top right 0;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/iphone-hand-tablet@2x.png");
        background-size: 473px auto;
        background-position: top right 0;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container--download {
    &::before {
      top: 102px;
      margin-right: 50px;
      width: 563px;
      height: 645px;
      background-image: url("/img/iphone-hand-desktop@1x.png");
      background-size: 563px 645px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/iphone-hand-desktop@2x.png");
        background-size: 563px 645px;
      }
    }
  }
}
