.data {
  display: flex;
  flex-direction: column;

  @include fildset-reset;
  margin-bottom: 30px;
}

.data__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 16px;
  order: 1;

  &:first-child {
    margin-top: 2px;
  }
}

.data__contacts {
  @include form-title;
  padding-left: 20px;
  margin-bottom: 6px;
}

@media (min-width: $tablet-width) {
  .data {
    margin-bottom: 0;
  }

  .data__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 52px;

    &:first-child {
      margin-top: 0;
    }
  }

  .data__contacts {
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .data__contacts-info {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .data {
    width: 440px;
  }
}
