.data {
  order: 1;
}

.data__fieldset {
  display: flex;
  flex-direction: column;

  @include fildset-reset;
  margin-bottom: 27px;
}

.data__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 17px;

  &:first-child {
    margin-top: 2px;
  }
}

.data__contacts {
  @include title-form;
  padding-left: 20px;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .data__fieldset {
    width: 100%;
    margin-bottom: 0;
  }

  .data__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 52px;

    &:first-child {
      margin-top: 0;
    }
  }

  .data__contacts {
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .data__contacts-info {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .data {
    width: 485px;
  }

  .data__fieldset {
    width: 435px;
    margin-top: 13px;
    margin-bottom: 3px;
    margin-right: 40px;
  }

  .data__item {
    margin-bottom: 53px;
  }
}
