.download {
  margin-bottom: 40px;
  background-color: $bg-dark;
}

.download__slogan {
  min-height: 370px;

  @include p-reset;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 22px;
  padding-left: 35px;
  padding-right: 35px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom 0 left 0, left 0 top -66px;
  background-repeat: no-repeat;
}

.download__button {
  width: 234px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 205px;
  min-height: 56px;

  @include list-reset;
  margin: 0 auto;
  margin-bottom: 22px;
}

.download__item {
  display: flex;

  &--apple {
    width: 47px;
    height: 56px;
    background-image: url("../img/logo-apple.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    filter: drop-shadow($bg-dark 0 0 2px);
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &--windows {
    width: 44px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.download__description {
  width: 250px;

  @include p-reset;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  color: $color-white;
}

@media (min-width: $tablet-width) {
  .download {
    min-height: 618px;
    margin-bottom: 50px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom 0 left -20px, left 50% top -110px;
    background-repeat: no-repeat;
  }

  .download-wrapper {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .download__slogan {
    width: 200px;
    min-height: 130px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 93px;
    background-image: none;
  }

  .download__button {
    width: 254px;
    margin: 0 auto;
    margin-bottom: 42px;
  }

  .download__list {
    margin-bottom: 40px;
  }

  .download__description {
    width: 300px;

    @include opensanslight;
    @include f-size(18px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .download {
    width: 940px;
    min-height: 735px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0 10px;
    text-shadow: $bg-dark 0 0 2px;
    background-color: transparent;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: bottom 0 left 25px;
    background-repeat: no-repeat;
  }

  .download-wrapper {
    width: 300px;
    padding: 0;
  }

  .download__slogan {
    width: 300px;
    margin-bottom: 55px;
    padding-top: 100px;
  }

  .download__button {
    width: 254px;
    margin-bottom: 65px;
  }

  .download__list {
    margin-bottom: 60px;
  }
}
