.form {
  margin-top: 32px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;

  @include f-size(18px, 30px);
  padding: 14px 20px 15px 20px;
  border: 2px solid $color-gray;
  background-color: transparent; //временно
}

.form__title {
  @include title-form;
  @include p-reset;
  margin: 0 auto;
  line-height: 18px;
  text-align: center;

  &--stealth { //заголовка то нет, то есть
    display: none;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  order: 5;
}

.form__note {
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;

  @include f-size(14px, 30px);
  text-transform: uppercase;
}

.form__note-stealth { //спана то нет, то есть
  display: none;
}

.form__note-pink {
  color: $color-pink;
}

@media (min-width: $tablet-width) {
  .form {
    max-width: 960px;
    margin: 0 auto;
  }

  .form__title--stealth { //заголовка то нет, то есть
    display: block;
  }

  .form__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .form__note {
    margin: 0;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__note-stealth {
    display: inline;
  }
}
