.form {
  margin-top: 32px;
  margin-bottom: 55px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;

  @include f-size(18px, 30px);
  padding: 13px 20px 16px 20px;
  border: 2px solid $color-gray;
  background-color: transparent; /*временно, потом убрать*/
}

.form__title {
  @include form-title;
  @include p-reset;
  margin: 0 auto;
  margin-bottom: 42px;
  padding-top: 32px;
  line-height: 18px;
  text-align: center;
}

.form__button {
  margin-bottom: 35px;
  order: 5;
}

.form__note {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  @include f-size(14px, 30px);
  text-transform: uppercase;
  order: 5;
}

.form__note-pink {
  color: $color-pink;
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 0;
  }
}
