.logo__mobile {
  fill: $color-white;
  width: 74px;
  height: 23px;
}

.logo[href]:hover .logo__mobile {
  fill: $color-pink;
}

.logo[href]:active .logo__mobile {
  fill: $color-white;
  opacity: 0.3;
}

.logo__tablet {
  display: none;
}

.logo__desctop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: block;
    width: 146px;
    height: 40px;
    fill: $color-white;
  }

  .logo[href]:hover .logo__tablet {
    fill: $color-pink;
  }

  .logo[href]:active .logo__tablet {
    fill: $color-white;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .logo__tablet {
    display: none;
  }

  .logo__desctop {
    display: block;
    width: 146px;
    height: 40px;
    fill: $color-white;
  }

  .logo[href]:hover .logo__desctop {
    fill: $color-pink;
  }

  .logo[href]:active .logo__desctop {
    fill: $color-white;
    opacity: 0.3;
  }
}
