.main-nav {
  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__list {
    display: flex;
    align-items: center;
  }
}
