body {
  //background: $bg-white url("../../img/pink-index-mobile30.jpg") no-repeat 50% 0;
  background: $bg-white url("../img/pink-photo-mobile30.jpg") no-repeat 50% 0;
  //background: $bg-white url("../img/pink-form-mobile30.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
}

@media (min-width: $tablet-width) {
  body {
    //background: $bg-white url("../img/pink-index-tablet30.jpg") no-repeat 50% 0;
    background: $bg-white url("../img/pink-photo-table30t.jpg") no-repeat 50% 0;
    //background: $bg-white url("../img/pink-form-tablet30.jpg") no-repeat 50% 0;
    background-size: 660px auto;
  }
}

@media (min-width: $desktop-width) {
  body {
    //background: $bg-white url("../img/pink-index-desktop30.jpg") no-repeat 50% 0;
    background: $bg-white url("../img/pink-photo-desktop30.jpg") no-repeat 50% 0;
    //background: $bg-white url("../img/pink-form-desktop30.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }
}
