.page-inner {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-inner__title {
  min-height: 50px;

  @include p-reset;
  padding-top: 28px;
  padding-bottom: 80px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: $bg-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: left 50% top -66px;
  background-repeat: no-repeat;
}

.page-inner__description {
  @include p-reset;
  width: 250px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;

  &--form {
    padding-top: 18px;
    padding-bottom: 0;
    padding-left: 22px;
    padding-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .page-inner {
    width: 660px;
  }

  .page-inner__title {
    min-height: 118px;
    padding-top: 70px;
    padding-bottom: 140px;
    padding-left: 156px;
    padding-right: 156px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: left 50% top -110px;
  }

  .page-inner__description {
    width: 450px;
    padding-top: 90px;
    padding-bottom: 77px;
  }
}
