.page-footer {
  margin-bottom: 30px;
}

.page-footer__index {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: flex;
  margin-bottom: 40px;
}

.page-footer__social {
  display: flex;
  margin-bottom: 25px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.page-footer__copyright-text {
  @include p-reset;
  @include f-size(14px, 18px);
}

.page-footer__copyright-logo {
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: block;
    width: 100%;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -10px;
  }

  .page-footer__copyright {
    width: 137px;
    margin-top: 8px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    margin-bottom: 72px;
    padding: 0;
  }

  .page-footer__logo {
    margin-bottom: 10px;
  }

  .page-footer__social {
    margin-left: 5px;
  }

  .page-footer__copyright {
    width: 155px;
  }

  .page-footer__copyright-text {
    @include f-size(18px, 18px);
  }
}
