.page-inner__title {
  max-width: 250px;

  @include p-reset;
  margin: 0 auto;
  padding-top: 28px;
}

.page-inner__description {
  width: 280px;

  @include p-reset;
  margin: 0 auto;
  padding-top: 45px;

  &--photo {
    width: 250px;
  }

  &--stealth {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .page-inner__title {
    max-width: 500px;
    padding-top: 70px;
  }

  .page-inner__description {
    width: 500px;
    padding-top: 90px;
    padding-bottom: 75px;

    &--photo {
      padding-bottom: 77px;
    }

    &--stealth {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-inner__title {
    max-width: 940px;
    padding-top: 63px;
  }

  .page-inner__description {
    width: 760px;
    padding-top: 90px;
    padding-bottom: 72px;

    &--photo {
      width: 600px;
      padding-bottom: 88px;
    }
  }
}
