.photo-users__list {
  @include list-reset;
}

.photo-users__item {
  margin-bottom: 20px;
}

.photo-users__img {
  width: 280px;
  height: 180px;
  margin: 0 auto;
  box-sizing: border-box;

  &--panorama {
    width: 320px;
    height: 137px;
  }
}

.photo-users__description {
  width: 258px;
  margin: 0 auto;
  padding: 17px 5px 22px 17px;
  background-color: $bg-lightgray;
}

.photo-users__title {
  display: block;
  font-weight: bold;
}

.photo-users__time-ago {
  @include opensanslight;
  @include f-size(12px, 24px);
  font-weight: normal;
  text-transform: uppercase;
}

.photo-users__text {
  @include p-reset;
  padding-bottom: 8px;
}

.photo-users__likes {
  display: flex;

  @include p-reset;
  padding-left: 33px;
  color: $color-pink;
}

.photo-users__number-likes {
  padding-left: 2px;
}

@media (min-width: $tablet-width) {
  .photo-users__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-users__item {
    width: 300px;
    margin-right: 20px;
    outline: 1px solid springgreen; /*временно*/

    &:nth-child(2m+1) {
      margin-right: 0;
    }

    &:first-child {
      width: 100%;
      margin: 0 auto;
    }
  }

  .photo-users__img {
    width: 300px;
    height: 300px;
    outline: 1px solid purple; /*временно*/

    &--panorama {
      width: 660px;
      height: 509px;
      outline: 1px solid blue; /*временно*/
    }
  }

  .photo-users__description {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 25px 30px 25px 27px;
    background-color: transparent; /*временно*/
    outline: 1px solid yellow; /*временно*/
  }

  .photo-users__title {
    //display: block;
    //font-weight: bold;
    order: 1;
  }

  .photo-users__time-ago {
    @include opensanslight;
    @include f-size(12px, 24px);
    font-weight: normal;
    text-transform: uppercase;
  }

  .photo-users__text {
    @include p-reset;
    padding-bottom: 8px;
    order: 3;
  }

  .photo-users__likes {
    display: flex;

    @include p-reset;
    padding-left: 33px;
    color: $color-pink;
    order: 2;
  }

  .photo-users__number-likes {
    padding-left: 2px;
  }
}
