.photo__panorama-wrarrer {
  margin-bottom: 20px;
}

.photo__panorama {
  width: 100%;
  height: 137px;
}

.photo__description,
.photo__description-panorama {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 17px 5px 22px 17px;
  //background-color: $bg-lightgray;
  outline: 1px solid slateblue;
}

.photo__picture {
  display: flex;
  width: 320px;
  height: 137px;
  margin: 0 auto;
}

.photo__list {
  @include list-reset;
}

.photo__item {
  margin-bottom: 20px;
}

.photo__image {
  width: 280px;
  height: 180px;
  margin: 0 auto;
}

.photo__img {
  width: 280px;
  height: 180px;
  margin: 0 auto;
}

.photo__title,
.photo__title-panorama {
  display: block;
  font-weight: bold;
}

.photo__time-ago {
  @include opensanslight;
  @include f-size(12px, 24px);
  font-weight: normal;
  text-transform: uppercase;
}

.photo__text,
.photo__text-panorama {
  @include p-reset;
  padding-bottom: 8px;
}

.photo__likes,
.photo__likes-panorama {
  display: flex;

  @include p-reset;
  padding-left: 33px;
  color: $color-pink;
}

.photo__number-likes {
  padding-left: 2px;
}

@media (min-width: $tablet-width) {
  .photo__panorama-wrarrer {
    margin-bottom: 50px;
  }

  .photo__panorama {
    height: 509px;
  }

  .photo__description {
    width: 100%;
    min-height: 155px;
    padding: 23px 15px 23px 26px;
    outline: 1px solid slateblue; //временно
  }

  .photo__description-panorama {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
    padding: 23px 30px 17px 25px;
    background-color: transparent; /*временно*/
    outline: 1px solid yellow; /*временно*/
  }

  .photo__title-panorama {
    width: 445px;
    order: 1;
  }

  .photo__text-panorama {
    width: 100%;
    order: 3;
  }

  .photo__likes-panorama {
    width: 105px;
    padding-right: 15px;
    padding-left: 0;
    order: 2;
  }

  .photo__list {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__picture {
    //width: 700px;
    height: 509px;
    margin: 0 auto;
  }

  .photo__item {
    width: 300px;
    margin-right: 20px;
    outline: 1px solid springgreen; /*временно*/

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .photo__image {
    width: 300px;
    height: 300px;
  }

  .photo__img {
    width: 300px;
    height: 300px;
  }

  .photo__likes {
    width: 100%;
    padding-left: 0;
    padding-right: 155px;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .photo__panorama {
    height: 506px;
  }

  //.photo__picture {
  //  display: flex;
  //  //width: 1200px;
  //  height: 506px;
  //  margin: 0 auto;
  //}

  .photo__description-panorama {
    width: 940px;
  }

  .photo__title-panorama {
    width: 760px;
  }

  .photo__list {
    width: 940px;
  }

  .photo__item {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 54px;
    outline: 1px solid springgreen; /*временно*/

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .photo__image {
    width: 300px;
    height: 400px;
  }

  .photo__img {
    width: 300px;
    height: 400px;
  }
}
