.price {
  position: relative;
  padding-top: 88px;
  background-color: $bg-lightgray;
  background-image: url("img/bg-triangle-white1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price__bevel {
  position: absolute;
  width: 100%;
  top: -57px;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.price__table {
  position: relative;
  right: 537px;
  width: 280px;
  margin: 0 auto;
  border: none;
  border-collapse: collapse;
}

.price__tr {
  display: flex;
}

.price__th {
  display: block;
  width: 278px;

  @include p-reset;
  padding-top: 18px;
  padding-bottom: 18px;

  @include opensansbold;
  @include f-size (18px, 30px);
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  background-color: $bg-dark;
  border-left: 2px solid $color-white;

  &:first-child {
    background-color: transparent;
    border: 2px solid transparent;
    border-top: none;
    border-bottom: 2px solid $color-gray;
  }

  &:nth-child(2) {
    border-left: 2px solid $color-dark;
  }

  &:last-child {
    border-right: 2px solid $color-dark;
  }
}

.price__th-span {
  display: block;

  @include p-reset;
  margin-top: 2px;

  @include opensanslight;
  @include f-size (24px, 30px);
  text-transform: uppercase;
}

.price__th--hit {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    width: 74px;
    height: 73px;
    background-image: url("/img/bg-hit.svg");
    background-position: left;
    background-repeat: no-repeat;
  }

  &::after {
    content: "хит";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 74px;
    height: 73px;

    @include f-size(13px, 21px);
    font-weight: normal;
    text-transform: uppercase;
    transform: rotate(-45deg);
  }
}

.price__td {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 278px;

  @include p-reset;
  @include f-size(14px, 30px);
  font-weight: normal;
  text-transform: uppercase;
  border-left: 2px solid $color-gray;
  border-bottom: 2px solid $color-gray;

  &:last-child {
    border-right: 2px solid $color-gray;
  }
}

.price__td--rose {
  position: relative;

  &::before {
    content: "розовый фильтр";
    position: absolute;
    left: 23px;
    top: 15px;
    width: 150px;
    height: 30px;

    @include f-size(14px, 30px);
    font-weight: normal;
    text-transform: uppercase;
  }
}

.price__td--smile {
  position: relative;

  &::before {
    content: "смайлики";
    position: absolute;
    left: 23px;
    top: 15px;
    width: 150px;
    height: 30px;

    @include f-size(14px, 30px);
    font-weight: normal;
    text-transform: uppercase;
  }
}

.price__td--comment {
  position: relative;

  &::before {
    content: "комментарии";
    position: absolute;
    left: 23px;
    top: 15px;
    width: 150px;
    height: 30px;

    @include f-size(14px, 30px);
    font-weight: normal;
    text-transform: uppercase;
  }
}

.price__description-td {
  @include p-reset;
  padding: 15px 23px 14px;

  @include opensans;
  @include f-size (14px, 30px);
  text-transform: uppercase;
}

.price__tick-td {
  display: block;
  width: 31px;
  height: 31px;
  margin-right: 16px;
  text-align: center;
}

.price__tick-yes {
  width: 31px;
  height: 21px;
  margin-top: 7px;
  fill: #3dc644;
}

.price__tick-no {
  width: 27px;
  height: 27px;
  fill: #f25b26;
}

.price__carousel {
  padding-top: 38px;
  padding-bottom: 48px;
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 84px;
    padding-bottom: 65px;
  }

  .price__wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
  }

  .price__table {
    position: static;
    width: 620px;
  }

  .price__th {
    width: 154px;
    padding-top: 12px;
    padding-bottom: 12px;

    @include f-size (16px, 30px);

    &:last-child {
      width: 157px;
    }
  }

  .price__th-span {
    @include f-size (18px, 24px);
  }

  .price__td {
    width: 154px;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      width: 157px;
    }
  }

  .price__td--rose {
    &::before {
      content: "";
      left: 0;
      top: 0;
      width: 0;
      height: 0;
    }
  }

  .price__td--smile {
    &::before {
      content: "";
      left: 0;
      top: 0;
      width: 0;
      height: 0;
    }
  }

  .price__td--comment {
    &::before {
      content: "";
      left: 0;
      top: 0;
      width: 0;
      height: 0;
    }
  }

  .price__description-td {
    padding: 7px 16px 8px;

    @include f-size (14px, 30px);
    text-transform: none;
  }

  .price__th--hit {
    &::before {
      width: 61px;
      height: 61px;
      background-image: url("/img/bg-hit-tablet.svg");
    }

    &::after {
      left: 5px;
      top: 3px;
      width: 61px;
      height: 61px;
    }
  }

  .price__tick-td {
    display: flex;
    width: 31px;
    height: 31px;
    margin: 0 auto;
  }

  .price__tick-yes {
    margin-top: 5px;
  }

  .price__tick-no {
    width: 27px;
    height: 27px;
    fill: #f25b26;
  }

  .price__carousel {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 137px;
    padding-bottom: 95px;
  }

  .price__table {
    width: 940px;
  }

  .price__th {
    width: 237px;
    padding-top: 18px;
    padding-bottom: 19px;

    @include f-size (18px, 30px);

    &:first-child {
      width: 231px;
    }

    &:last-child {
      width: 237px;
    }
  }

  .price__th--hit {
    &::before {
      left: -1px;
      top: 0;
      width: 74px;
      height: 73px;
      background-image: url("/img/bg-hit.svg");
      background-position: left;
      background-repeat: no-repeat;
    }

    &::after {
      left: 5px;
      top: 10px;
      width: 74px;
      height: 73px;
    }
  }

  .price__th-span {
    @include f-size (24px, 30px);
  }

  .price__td {
    width: 237px;
    justify-content: center;

    &:first-child {
      width: 231px;
    }

    &:last-child {
      width: 237px;
    }
  }

  .price__description-td {
    padding: 15px 21px 15px 21px;

    @include f-size (18px, 30px);
  }
}
