.reviews {
  margin-bottom: 45px;
}

.reviews__list {
  @include list-reset;
  text-align: center;
}

.reviews__autor {
  @include p-reset;
  margin-bottom: 15px;

  @include opensansbold;
  @include f-size(18px, 24px);
}

.reviews__autor-add {
  display: none;
}

.reviews__text {
  width: 280px;

  @include p-reset;
  margin: 0 auto;
  margin-bottom: 32px;

  @include f-size(14px, 30px);
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 25px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__autor {
    @include opensansbold;
    @include f-size(20px, 30px);
    margin-bottom: 35px;
  }

  .reviews__text {
    width: 620px;
    margin-bottom: 34px;

    @include f-size(18px, 30px);
  }

  .reviews__autor-add {
    display: block;
    padding-top: 0;

    @include opensans;
    @include f-size(14px, 30px);
  }

  .reviews__toggles {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    margin: 0 auto;
    padding-top: 170px;
    padding-bottom: 50px;
    padding-right: 0;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 39px);
      top: 55px;
      width: 79px;
      height: 64px;
      background-image: url("/img/icon-quotes.svg");
      background-position: top;
      background-repeat: no-repeat;
      opacity: 0.1;
    }
  }

  .carousel__prev,
  .carousel__next {
    display: block;
  }

  .reviews__wrapper {
    display: flex;
    justify-content: space-between;
    //position: relative;
    //padding-left: 30px;
    //padding-right: 30px;
  }

  .reviews__autor {
    @include f-size(24px, 30px);
    margin-bottom: 0;
  }

  .reviews__text {
    width: 685px;
    margin-bottom: 40px;
  }

  .reviews__autor-add {
    @include f-size(18px, 30px);
  }

  .reviews__toggles {
    display: none;
  }
}
