.site-list {
  @include list-reset;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.site-list__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 17px;
  padding-bottom: 14px;

  @include opensansbold;
  font-size: 18px;
  line-height: 32px;
  color: $color-white;
  text-transform: uppercase;

  &--active {
    position: relative;
  }

  &--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 9px;
    left: 0;
    height: 2px;
    background-color: $bg-white;
  }
}

a[href].site-list__link {
  &:hover,
  &:focus {
    color: $color-pink;
  }

  &:active {
    position: relative;
    color: $color-white;
    opacity: 0.3;
  }
  //
  //&:active::after {
  //  content: "";
  //  position: absolute;
  //  right: 0;
  //  bottom: 9px;
  //  left: 0;
  //  height: 2px;
  //  background-color: $bg-white;
  //}
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 700px;
  }

  .site-list__item {
    margin-left: 85px;
    border-top: 0;
    box-shadow: none;

    &:first-child {
      margin-left: 0;
    }
  }

  .site-list__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;

    @include opensans;
    @include f-size(18px, 18px);
    text-transform: none;
  }
}
