.slogan {
  @include opensanslight;
  @include f-size(24px, 30px);
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: $color-white;

  &--darkcolor {
    text-align: center;
    color: $color-dark;
  }
}

@media (min-width: $tablet-width) {
  .slogan {
    @include f-size(40px, 48px);
  }
}

@media (min-width: $desktop-width) {
  .slogan {
    @include f-size(50px, 60px);
  }
}
