.your-photo {
  margin-bottom: 42px;
}

.your-photo__description-wrapper {
  width: 100%;
  background-color: $bg-white;
}

.your-photo__description {
  width: 280px;

  @include p-reset;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 40px;
}

.your-photo__wrapper {
  padding-top: 20px;
  border-bottom: 1px solid $color-gray;
}

.your-photo__image {
  width: 280px;
  height: 374px;
  margin: 0 auto;
}

.your-photo__img {
  width: 280px;
  height: auto;
}

.your-photo__tools {
  padding-top: 40px;
  margin-bottom: 33px;
}

.your-photo__scales {
  margin: 0 auto;
  margin-bottom: 67px;
}

.your-photo__buttons {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 30px;
}

.your-photo__button {
  background-color: transparent;
  border: 3px solid $color-pink;
  color: $color-pink;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .your-photo {
    margin-bottom: 20px;
  }

  .your-photo__description {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 70px;
  }

  .your-photo__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  .your-photo__image {
    width: 300px;
    height: 400px;
    margin: 0;
    margin-right: 45px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .your-photo__img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  .your-photo__tools-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    margin-right: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 56px;
      right: -15px;
      width: 275px;
      height: 1px;
      background-color: $bg-dark;
      opacity: 0.1;
      box-shadow: 0 72px 0 $bg-dark, 0 144px 0 $bg-dark;
    }
  }

  .your-photo__tools {
    padding-top: 7px;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .your-photo__scales {
    margin: 0;
  }

  .your-photo__buttons {
    width: 100%;
    padding-top: 33px;
    padding-bottom: 60px;
  }

  .your-photo__button {
    width: 260px;
    background-color: transparent;
    border: 3px solid $color-pink;
    color: $color-pink;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .your-photo {
    margin-bottom: 95px;
  }

  .your-photo__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;
    padding-left: 0;
  }

  .your-photo__description {
    padding-top: 5px;
  }

  .your-photo__image {
    margin-right: 90px;
  }

  .your-photo__tools-wrapper {
    width: 385px;
    margin-right: 0;

    &::before {
      width: 410px;
    }
  }

  .your-photo__tools {
    margin-right: 45px;
    padding-top: 0;
  }

  .your-photo__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 405px;
    margin: 0;
    margin-top: auto;
    padding-bottom: 0;
  }

  .your-photo__button {
    width: 185px;
    margin-bottom: 0;
  }
}
