@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin p-reset {
  margin: 0;
  padding: 0;
}

@mixin fildset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin opensanslight {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin opensans {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin opensansbold {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin f-size ($font-size: 14px, $line-height: 24px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin form-title {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $color-pink;
  text-transform: uppercase;
}
