@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin p-reset {
  margin: 0;
  padding: 0;
}

@mixin fildset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin opensanslight {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin opensans {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin opensansbold {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin f-size ($font-size: 14px, $line-height: 24px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin title-form {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $color-pink;
  text-transform: uppercase;
}

@mixin track() {
  box-sizing: border-box;
  width: 240px;
  height: 2px;
  background-color: #273746;
}

@mixin thumb() {
  border: 2px solid $color-pink;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  border-radius: 50%;
  background: $bg-white;
  cursor: pointer;
}
