$bg-white: #ffffff;
$bg-dark: #283645;
$bg-lightgray: #f2f2f2;
$green: #2aab6d;
$green-hover: #1c9b5e;
$color-dark: #283645;
$color-white: #ffffff;
$color-black: #000000;
$color-lighwhite: rgba(255, 255, 255, 0.3);
$color-pink: #d22856;
$color-lightpink: rgba(210, 40, 86, 0.3);
$color-gray: #e5e5e5;
$color-gray01: rgba(40, 50, 69, 0.1);

$font-size: 14px;
$line-height: 24px;

$tablet-width: 660px;
$desktop-width: 960px;
$mobil-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
