$bg-white: #ffffff;
$bg-dark: #283645;
$bg-lightgray: #f2f2f2;

$color-dark: #283645;
$color-black: #000000;
$color-white: #ffffff;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobil-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
